<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
        /* Take care of image borders and formatting */

        td {
            font-family: Arial, sans-serif;
            color: #4d4d4f;
            font-size: 14px;
        }

        body {
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
            width: 100%;
            height: 100%;
            font-weight: 400;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            color: #4d4d4f;
        }
    </style>
</head>

<body offset="0" class="body" style="padding:20px 0px;; margin:30px 0px; display:block; background:#f5f5f5;
 -webkit-text-size-adjust:none;"
    bgcolor="#ffffff">
    <table align="center" cellpadding="0" cellspacing="0" width="635" height="100%">
        <tr>
            <td align="center" valign="top" style="background-color:#f5f5f5;background-image:
            url(https://d1pgqke3goo8l6.cloudfront.net/iEYpUsXlSNGkGGGVtsWA_ai_bg_dark.png);" width="635">
                <center>
                    <table cellspacing="0" cellpadding="0" width="635" class="w320">
                        <tr>
                            <td align="center" valign="top" style="background-color: #ffffff;" >
                                <table class="force-full-width" cellspacing="0" cellpadding="0" width="635"
                                       style="text-align:center; padding: 50px 0px;">
                                </table>
                                <center>
                                    <table class="force-full-width w320" cellspacing="0" cellpadding="0" width="500"
                                           style="border: 1px solid #E0E0E0;">
                                        <tr>
                                            <td style="text-align: center;background: #f6f9f8;padding: 15px;
                                             background: rgba()">
                                                <p style="margin: 0px;">
                                                    <img src="https://d1pgqke3goo8l6.cloudfront.net/i4eGdTruHV2YfXXsZFgN_ai_email_icon.png">
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="evy_content_paddng" style="text-align:center;
                                            line-height: 20px;padding: 40px 70px;">
                                                <p style="font-size:14px;text-align:center;margin: 0px;margin-bottom:15px;
                                                color: #525359">Hi {{user.first_name}},</p>
                                                <p style="font-size:14px;text-align:center;margin: 0px;margin-bottom:15px;
                                                color: #525359">You Have a new Task to do</p>
                                                <p style="font-size:14px;text-align:center;margin: 0px;margin-bottom:15px;
                                                color: #525359"> please check in the task list </p>
                                                
                                            </td>
                                        </tr>

                                    </table>
                                </center>

                            <tr>
                                <td align="center" class="evy_content_paddng" style="text-align:center; line-height: 20px;padding: 0px 0px;">

                                    <p style="font-size:14px;text-align:center;margin:20px 0px; margin-top: 35px;">Thanks
                                        <br> Rawdata team
                                    </p>
                                    <p style="font-size: 12px;">Copyright @2020 Rawdata, LLC</p>
                                </td>
                            </tr>



                            </td>
                        </tr>
                    </table>
                </center>
            </td>
        </tr>
    </table>
</body>

</html>
